<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>Algo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    
    
      
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/flaticon.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
      
      
      
    
    <meta name="description" content="Demo for the tutorial: Styling and Customizing File Inputs the Smart Way" />
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    <meta name="author" content="Osvaldas Valutis for Codrops" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='component.css') }}">
 
    
    
    <script type="text/javascript">
        (function(e,t,n)
         {var r=e.querySelectorAll("html")[0];
          r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})
        (document,window,0);
    </script>
    
      
  </head>
    
    
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">
  
  <!-- <div class="site-wrap"> -->

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">


          
          <div class="col-11 col-xl-2 site-logo">
            <h1 class="mb-0">
			<a href="#section-home" class="text-white h2 mb-0"><img src="{{url_for('static', filename='images/logo_isamm.jpg')}}" alt="Image" class="img-fluid rounded" style="width:100px"/></a></h1>
		  
          </div>
          

      
      
    </header>





 
  
    <div class="site-section bg-image overlay" style="background-image: url({{ url_for('static', filename='images/PCC4.jpg') }});" id="section-how-it-works">
        

      <div class="container">

        <div class="row">



          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="how-it-work-item">
              <span class="number">3</span>
              <div class="how-it-work-body">
                  <h2>Minimum Spanning Tri</h2>
               
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

 
      
      
      
    <div class="site-section bg-light" id="section-statut">
      <div class="container">

                  <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
              <br><br>
            <h2 class="font-weight-light text-primary">Algo de Prim</h2>
            <p class="color-black-opacity-5"></p>
          </div>
        </div>
          
          
          
          <div style="text-align:center;">
          
          <p>Veuillez saisir vos <code>inputs</code> ci-dessous:   </p>
    
            <br>
            
    
            <form action="/prim" method="POST" enctype=multipart/form-data> 
     
        
        
        <input type="file" name="file" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
        <label for="file-5"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choisir un fichier&hellip;</span></label>
<br>
                <input type="vertices" name="vertices" id="vertices"/>vertices
        <br>
        <br>
        <br>
        <br>
       <div class="row form-group" style="text-align:center;">
                <div class="col-md-12">
                  <input type="submit" value="Confirmer" name="submit" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
        
    
    </form>
          
          <p> 
        {{message}}
    </p>
              <br>
              <img src="{{url_for('static', filename='images/Graphe_initial_Prim.png')}}"/>
              <br>
    <p>
       {{response}}
    </p>
              
              <br>
              <img src="{{url_for('static', filename='images/MSP_Prim.png')}}"/>
              <br>
          
          </div> 
          
               <ul>
    <li><a href="/main.html" target="_blank"><ins >Algorithme de Kruskal</ins></a></li>
  </ul>
      </div>
    </div>

    


    <footer class="site-footer">


        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            
              <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous les droits sont réservés | Ce site est crée avec <i class="icon-heart" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank" >Aya && Siwar</a>
             </p>
            
          </div>
          
      </div>
    </footer>
  <!-- </div> -->
      
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> 
    
<script type="text/javascript"
         src="{{ url_for('static', filename='custom-file-input.js') }}"></script> 
    
  </body>
</html>